.bg-light{
    background-color: #000 !important;
}
.nav-link{
    color:#fff !important;
    font-weight: bold;
}
.nav-item {
    margin-left: 0; /* Or remove this rule completely */
  }
.navbar-nav{
    margin-left:20% !important;

}
.bg-info {
   
    background-image: linear-gradient(to left, #fd801c,#fd9f14);
}
.text-heading{
    color:#fd871b;
}
.navbar-light .navbar-toggler-icon
{
    background-image:url("../images/toggle.png") !important;
}
.reward-card {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      height: 100%;
}
.reward-img {
      width: 100%;
      height: 120px;
      object-fit: contain;
      margin-bottom: 10px;
}
.amount-btn {
      margin: 3px;
      font-size: 0.75rem;
}
.amount-btn:hover{
    background-color: #fd871b;
}
.scrollable-section {
      max-height: 600px;
      overflow-y: auto;
}
.text-main
{
    color:#fd871b;
}
.contact-info
{
    color:rgb(253 136 26) !important
}
.card-data {
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      margin: 80px auto;
      padding: 30px 25px;
}
.btn-orange {
      background-color: #FFA633;
      color: white;
}
.btn-orange:hover {
      background-color: #e6952e;
      color:white;
}
.form-control {
    border-radius: 6px;
}